.head-loan{
    margin-top: 100px !important;
}

.body-loan{
    padding-left: 0px !important;
}

body{
    background-color: rgb(136, 54, 54) !important;
}

.kotak-pencarian
{
    height: 420px;
    overflow: scroll;
}
